body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  margin-top: 20px;
  
}

.PlayButton {
  background-color: #2dc632;
  color: white;
  padding: 13px 20px;
  text-align: center;
  display: inline-block;

  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.PlayButton:hover {
  background-color: #b4c62d;
}