/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #75ce838a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Pacifico', cursive; /* Adds a fancy font for the title */
  font-size: 3rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #3700b3;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 8px;
}

button + button {
  margin-left: 10px;
}

.controls button {
  display: flex;
  align-items: center;
}

canvas {
  display: none;
}

.speed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
  border-radius: 8px;
}

.modal-content {
  text-align: center;
}

.modal ul {
  list-style: none;
  padding: 0;
}

.modal ul li {
  margin: 10px 0;
}

.modal ul li button {
  padding: 10px 15px;
  background-color: #6200ea;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal ul li button:hover {
  background-color: #3700b3;
}

.modal button {
  margin-top: 20px;
}
/* Modal and other elements can also be styled similarly */
